@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto';
  background-color:rgb(26, 27, 29);
}

h1,
h2 {
  letter-spacing: 0.3rem;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  color: palegreen;
  border-left: solid 0.5rem seagreen;
  border-bottom: solid 0.2rem seagreen;
  padding: 0 0 0 5px;
  width: 30%;
}

.yens_title {
  color: paleturquoise;
  border-left: solid 0.5rem steelblue;
  border-bottom: solid 0.2rem steelblue;
}

.bonus1_title {
  color: palevioletred;
  border-left: solid 0.5rem crimson;
  border-bottom: solid 0.2rem crimson;
}

nav {
  margin-bottom: 20px;
}

ul {
  display: flex;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
li {
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
}

li {
  margin: 0 10px 0 0;
}

li:nth-of-type(1) {
  border: solid 0.3rem palegreen;
}

li:nth-of-type(2) {
  border: solid 0.3rem paleturquoise;
}

li:nth-of-type(3) {
  border: solid 0.3rem palevioletred;
}

li:nth-of-type(1):hover,
li:nth-of-type(1) a:hover {
  background-color: palegreen;
  color: seagreen;
}

li:nth-of-type(2):hover,
li:nth-of-type(2) a:hover {
  background-color: paleturquoise;
  color: steelblue;
}

li:nth-of-type(3):hover,
li:nth-of-type(3) a:hover {
  background-color: palevioletred;
  color: crimson;
}

p {
  margin: 0;
  color: palegreen;
}

.yens_paragraphe {
  color: paleturquoise;
}

.bonus1_paragraphe {
  color: palevioletred;
}

strong {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: #fff underline;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;  
}

form:first-of-type {
  margin-top: 0;
}

input,
label,
button,
select {
  display: block;
  text-align: center;
  margin: auto;
  padding: 5px;
}

select {
  border: solid 0.2rem crimson;
  min-width: 11.5rem;
}

input {
  border: solid 0.2rem seagreen;
  border-radius: 0.2rem;
}

#montant1 { /* input yens.php */
  border: solid 0.2rem steelblue;
}

#montant2 {
  border: solid 0.2rem crimson;
}

label,
legend {
  color: palegreen;
  font-weight: 900;
}

.yens_label { /* label yens.php */
  color: paleturquoise;
}

.bonus1_label { /* label yens.php */
  color: palevioletred;
}

.bonus1_label:nth-of-type(2) {
  margin-top: 20px;
}

legend {
  padding: 5px 10px 5px 10px;
  background-color: seagreen;
  color: #fff;
}

.yens_legend-bg { /* bg legend yens.php */
  background-color: steelblue;
}

.bonus1_legend-bg { /* bg legend yens.php */
  background-color: crimson;
}

fieldset {
  border: solid 0.2rem seagreen;
}

.yens_fieldset {
  border: solid 0.2rem steelblue;
}

.bonus1_fieldset {
  border: solid 0.2rem crimson;
}

button {
  background-color: seagreen;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.5rem;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  text-decoration: underline seagreen;
  color: seagreen;
}

.yens_button {
  background-color: steelblue;
}

.yens_button:hover {
  text-decoration: underline steelblue;
  color: steelblue;
}

.bonus1_button {
  background-color: crimson;
}

.bonus1_button:hover {
  text-decoration: underline crimson;
  color: crimson;
}
